html {
  background-color: #ffffff;
}

body {
  font-family: Georgia, sans-serif;
  width: 80%;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #002288;
}

a, a:link, a:visited, a:active, a:hover {
  color: #0066cc;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#TOC li {
  display: inline-block;
}

#TOC li + li:before {
  content: '|';
  padding-right: .3em;
}
