html {
  background-color: #ffffff;
}

body {
  font-family: Georgia, sans-serif;
  width: 80%;
  max-width: 800px;
  margin: 4vh auto;
  padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #002288;
}

a, a:link, a:visited, a:active, a:hover {
  color: #0066cc;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#TOC li {
  list-style-type: none;
}

#TOC li {
  list-style-type: disclosure-closed;
}

#TOC ul ul {
  display:none;
}

#TOC li:hover ul {
  display: block;
}

#TOC li:hover {
  list-style-type: disclosure-open;
  background-color: #f8f8f8;
}

#TOC li:hover li:hover {
  background-color: #f2f2f2;
}

pre {
  overflow: auto;
}
