html {
  background-color: #ffffff;
}

body {
  font-family: Georgia, serif;
  width: 80%;
  max-width: 800px;
  margin: 2vh auto;
  padding: 10px;
}

ul {
  padding-inline-start: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #002288;
}

h1, h2, h3, h4, h5, h6, #TOC, details summary {
  font-family: Tahoma, sans-serif;
}

details summary * {
  display: inline;
}

a, a:link, a:visited, a:active, a:hover {
  color: #0066cc;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#TOC li {
  padding: 2px;
  list-style-type: none;
}

#TOC li a {
  width: 100%;
  display: block;
  text-decoration: none;
}

#TOC li:hover ul {
  display: block;
}

#TOC li:hover {
  transition: 0.5s;
  background-color: #e1e8ea;
}

#TOC li:hover li:hover {
  background-color: #cedbde;
}

pre {
  overflow: auto;
}

img {
  width: 100%;
}
